name: Docker image deployment to EC2
on:
  # push:
  #   branches: main
  workflow_dispatch:
    
jobs:
  build-and-push-docker-image:
    name: build-and-push-docker-image-to-dockerhub
    runs-on: ubuntu-latest
    environment:
      name: prod
    env:
     user: ${{secrets.DOCKERHUB_USERNAME}}
     pass: ${{secrets.DOCKERHUB_PASSWORD}}
    steps:
      - uses: actions/checkout@v2

      - name: build docker
        run: docker build -t flask-simple-app .

      - name: docker tag
        run: docker tag flask-simple-app $user/flask-simple-app:${{github.run_number}}

      - name: docker login
        run: docker login -u $user -p $pass

      - name: docker push
        run: docker push $user/flask-simple-app:${{github.run_number}}

      - name: clean docker image
        run: docker rmi $user/flask-simple-app:${{github.run_number}} && docker rmi flask-simple-app

      - name: successfull
        run: echo " Job is successfull broooo... "
  
  deploy-to-ec2:
    name: deploy docker images to ec2 instance
    runs-on: ubuntu-latest
    needs: build-and-push-docker-image
    environment:
      name: prod
    env:
      sshKey: ${{secrets.EC2_SSH_KEY}}
      user: ${{secrets.DOCKERHUB_USERNAME}}
      pass: ${{secrets.DOCKERHUB_PASSWORD}}
    steps:
      - name: login and run docker
        run: |
          mkdir -p ~/.ssh
          echo "$sshKey" > ~/.ssh/id_rsa
          chmod 600 ~/.ssh/id_rsa
          eval "$(ssh-agent -s)"
          ssh-add ~/.ssh/id_rsa
          ssh ubuntu@54.81.216.123 'bash -s' << EOF \
          docker run $user/flask-simple-app:${{github.run_number}} \
          EOF
